.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  &.dimm {
    background-color: var(--dimm-layer);
  }
  .arrow_icon {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    &.left {
      left: 24px;
    }
    &.right {
      right: 24px;
    }
  }
  .modal {
    max-width: 750px;
    height: fit-content;
    padding: 16px;
    margin: 100px;
    background-color: var(--white);
    box-shadow: var(--shadow-01);
    border-radius: 4px;
  }
  .modal_wrap {
    .recruit_container {
      padding-bottom: 32px;
      .recruit_company_name {
        color: var(--grey-80);
        font-weight: 600;
        padding-bottom: 16px;
      }
      .recruit_title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 2px;
      }
      .recruit_term {
        font-size: 14px;
        color: var(--grey-50);
        padding-bottom: 2px;
      }
      .recruit_duties {
        font-size: 14px;
        color: var(--primary-100);
      }
    }
    img {
      max-width: 100%;
    }
  }
}
