@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');

html,
body {
  min-width: fit-content;
  max-width: 100%;
  height: 100%;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-30);
    border-radius: 4px;
  }
}

iframe {
  outline: none;
  border: none;
}

input,
textarea,
select {
  font-family: inherit;
}

input:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid {
  display: grid;
}

.hide {
  display: none;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex_inline {
  display: inline-flex;
  display: -webkit-inline-flex;
}

.flex_column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.flex_grow {
  flex-grow: 1;
  flex: 1;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex_vertical_center {
  align-items: center;
}

.flex_vertical_end {
  align-items: flex-end;
}

.flex_horizontal_end {
  justify-content: flex-end;
}

.flex_horizontal_center {
  justify-content: center;
}

.flex_space_between {
  justify-content: space-between;
}

.flex_grow {
  flex-grow: 1;
  flex: 1;
}

.gap_4 {
  gap: 4px;
}

.gap_6 {
  gap: 6px;
}

.gap_8 {
  gap: 8px;
}

.gap_10 {
  gap: 10px;
}

.gap_12 {
  gap: 12px;
}

.gap_16 {
  gap: 16px;
}

.gap_20 {
  gap: 20px;
}

.gap_24 {
  gap: 24px;
}

.gap_30 {
  gap: 30px;
}

.gap_32 {
  gap: 32px;
}

.gap_40 {
  gap: 40px;
}

.gap_48 {
  gap: 48px;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --white: #ffffff;

  // grey scale
  --grey-100: rgba(23, 23, 23, 1);
  --grey-90: rgba(46, 46, 46, 1);
  --grey-80: rgba(69, 69, 69, 1);
  --grey-70: rgba(93, 93, 93, 1);
  --grey-60: rgba(116, 116, 116, 1);
  --grey-50: rgba(139, 139, 139, 1);
  --grey-40: rgba(162, 162, 162, 1);
  --grey-30: rgba(185, 185, 185, 1);
  --grey-20: rgba(209, 209, 209, 1);
  --grey-10: rgba(232, 232, 232, 1);
  --grey-08: rgba(236, 236, 236, 1);
  --grey-04: rgba(246, 246, 246, 1);

  --shadow-01: 0px 4px 32px rgba(0, 0, 0, 0.1);

  // background-color
  --background: #f9f8fc;
  --dimm-layer: rgba(0, 0, 0, 0.3);

  // primary color
  --primary-100: rgba(255, 106, 19, 1);

  // secondary color
  --secondary-100: rgba(113, 134, 242, 1);
  --secondary-50: rgba(113, 134, 242, 0.5);
  --secondary-10: rgba(113, 134, 242, 0.1);
}
